<!doctype html>
{% load static %}
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href={% static "account/img/fav.png" %} type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href={% static "account/css/style.css" %}>  
  <title>به صفحه مدیریت خوش آمدید</title>
</head>
<body class="bg-gray-100">


<!-- start navbar -->
{% include './navbar.html' %}
<!-- end navbar -->

<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
    
    <!-- start sidebar -->  
    {% include "./sidebar.html" %}
    <!-- end sidebar -->  

    <!-- strat content -->
    <div class="bg-gray-100 flex-1 p-6 md:mt-16">
        content here
    </div>
    <!-- end content -->

</div>
<!-- end wrapper --> 

  

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src={% static "account/js/scripts.js" %}></script>
<!-- end script -->

</body>
</html>
