{% load crispy_forms_filters %}
{% load tailwind_filters %}
{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href='{% static "account/img/fav.png" %}' type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href={% static "account/css/style.css" %}>
  <title>صفحه مدیریت</title>
</head>
<body class="bg-gray-200">

    {% include "./navbar.html" %}

    <div class="h-screen flex justify-start " >
        
        {% include "./sidebar.html" %}
        <div class="bg-gray-100 flex-1 p-6 w-screen flex flex-col">
            <form method="post" enctype="multipart/form-data" class="pl-48 pr-16 pt-12">
                {% csrf_token %}
                {{ form.title|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                {{ form.author|as_crispy_field }}
                {{ form.category|as_crispy_field }}
                {{ form.image|as_crispy_field }}
                <button type="submit" class="btn-bs-success w-1/12">اضافه کردن</button>
            </form>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src={% static "account/js/scripts.js" %}></script>

</body>
</html>