{% load crispy_forms_filters %}
{% load tailwind_filters %}
{% load static %}
<!doctype html>
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href='{% static "account/img/fav.png" %}' type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href={% static "account/css/style.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>صفحه مدیریت</title>
</head>
<body class="bg-gray-200">
    {% include './navbar.html' %}
    <div class="h-screen flex justify-start" >
        {% include "./sidebar.html" %}
        <div class="bg-gray-100 w-screen flex-1 p-6 flex flex-col ">
            <form method="post" enctype="multipart/form-data" class="m-10 ">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn-bs-success w-1/12">اضافه کردن</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src={% static "account/js/scripts.js" %}></script>
</body>
</html>