<div class="flex flex-wrap flex-col right-0 md:right-auto md:left-0 bg-white border-r border-gray-300 p-6 w-64 shadow-xl z-30">
    <div class="sticky top-0 pt-10 flex flex-col">
        <div class="text-right hidden md:block mb-4">
            <button id="sideBarHideBtn">
                <i class="fad fa-times-circle"></i>
            </button>
        </div>
        {% if request.user.is_staff %}
        <p class="uppercase text-l text-gray-900 bold tracking-wider">کتاب</p>
        <hr class="mb-4">

        <div class="m-2">
            <a href="{% url 'account:book_list' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">لیست کتاب ها</a>
            <i class="fad fa-book text-s mr-2"></i>
        </div>

        <div class="m-2">
            <a href="{% url 'account:add_book' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">افزودن کتاب</a>
            <i class="fad fa-book-medical text-s mr-2"></i>
        </div>

        <div class="m-2">
            <a href="{% url 'account:category_list' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">لیست دسته بندی</a>
            <i class="fad fa-list text-black mr-2"></i>
        </div>

        <div class="m-2">
            <a href="{% url 'account:add_category' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">افزودن دسته بندی</a>
            <i class="fad fa-plus-square text-black mr-2"></i>
        </div>

        <p class="uppercase text-l text-gray-900 bold tracking-wider mt-8">امانت</p>
        <hr class="mb-4">

        <div class="m-2">
            <a href="{% url 'account:loan_list' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">لیست امانت ها</a>
            <i class="fad fa-list"></i>
        </div>
        <div class="m-2">
            <a href="{% url 'account:add_loan' %}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">قرض دادن کتاب</a>
            <i class="fad fa-arrow-circle-up"></i>
        </div>
        {% endif %}
    </div>
</div>
