<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/main_css/style.css" />
    <link rel="stylesheet" href="../../../static/font/font.css" />
  </head>

  <body>
    <div class="container">
      <div class="section_nav">
        <div class="left_nav d-flex sass align-items-center">
          <div class="section-log d-flex align-items-center">
            <div class="box-img-log">
              <!-- <img src="img/image.png" width="50" height="50" alt=""> -->
            </div>
          </div>
        </div>
        <div class="center_nav">
          <ul class="d-flex gap-3rem align-items-center">
            <li><a href="#" class="active">پنل مدیریت</a></li>

            <!-- <li><a href="#">Messages</a></li> -->
            <li><a class="aboutcolor" href="#">دباره ما</a></li>
            <li onclick="image()" class="second aboutcolor">
              دسته بندی
              <div id="ganr">
                <a href="#">تاریخی</a>
                <a href="#">علمی</a>
                <a href="#">فلسفه و منطق</a>
                <a href="#">روانشناسی</a>
                <a href="#">ادبیات </a>
              </div>

              <img
                id="img"
                width="21"
                height="17"
                src="./img/Screenshot 2024-12-16 193324.png"
                alt=""
              />
            </li>
            <li>
              <a class="aboutcolor" href="../login_glass/index.html">ورود</a>
            </li>
          </ul>
        </div>
        <div class="right_nav">
          <div class="icon">
            <form class="icon_form">
              <input type="text" placeholder="جستجو..." name="" id="" />
              <button class="button" type="reset">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                  id="IconChangeColor"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    id="mainIconPathAttribute"
                    fill="#000000"
                  ></path>
                </svg>
              </button>
            </form>
          </div>
          <div class="user_section">
            <div class="status-connection">کتابدار</div>
            <!-- <div class="profile_user">
                        <img src="img/team4.png" alt="">
                    </div> -->
          </div>
        </div>

        <div class="nav_mobile">
          <input type="checkbox" id="toggle_nav" hidden />
          <label for="toggle_nav" class="label_toggle_nav">
            <span class="line line_top"></span>
            <span class="line line_mid"></span>
            <span class="line line_bottom"></span>
          </label>
          <ul class="list_nav_mobile">
            <li><a href="#" class="active">پنل مدیریت</a></li>
            <li><a href="#">Profile</a></li>

            <li><a href="#">درباره ما</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="image">
      <div>
        <img src="../../../static/main_img/1734184887346.webp" alt="" />
      </div>
      <div>
        <h1 class="name">کتابدار</h1>
        <h1 class="tou">مدیریت آسان کتاب خانه با سایت کتابدار</h1>
      </div>
    </div>
    <div dir="rtl" class="daste">
      <div id="title">
        <span class="booksganr">دسته بندی</span>
      </div>
      <div class="ganrs">
        <div><span class="books">تاریخی</span></div>
        <div><span class="books">علمی</span></div>
        <div><span class="books">فلسفه و منطق</span></div>
        <div><span class="books">روانشناسی</span></div>
        <div><span class="books"> ادبیات </span></div>
      </div>
    </div>

    <div class="main">
      <div>
        <div class="ganr2">
          <h2><span>کتاب های ادبیات </span></h2>
          <h2>مشاهده همه</h2>
        </div>
        <div class="tarikhi">
          <div class="book">
            <div>
              <img
                src="./img/خسرو و شیرین .jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب خسرو و شیرین</h4>
              <h4>پائولو کوئیلو</h4>
              <h4>ژانر:ادبیات</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/خسرو و شیرین .jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب خسرو و شیرین</h4>
              <h4>پائولو کوئیلو</h4>
              <h4>ژانر:ادبیات</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/خسرو و شیرین .jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب خسرو و شیرین</h4>
              <h4>پائولو کوئیلو</h4>
              <h4>ژانر:ادبیات</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/خسرو و شیرین .jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب خسرو و شیرین</h4>
              <h4>پائولو کوئیلو</h4>
              <h4>ژانر:ادبیات</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/خسرو و شیرین .jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب خسرو و شیرین</h4>
              <h4>پائولو کوئیلو</h4>
              <h4>ژانر:ادبیات</h4>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="ganr2">
          <h2><span>کتاب های تاریخی</span></h2>
          <h2>مشاهده همه</h2>
        </div>
        <div class="tarikhi">
          <div class="book">
            <div>
              <img
                src="./img/تاریخ بیهقی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب تاریخ بیهقی</h4>
              <h4>ابوالفضل بیهقی</h4>
              <h4>ژانر:تاریخی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/تاریخ بیهقی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب تاریخ بیهقی</h4>
              <h4>ابوالفضل بیهقی</h4>
              <h4>ژانر:تاریخی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/تاریخ بیهقی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب تاریخ بیهقی</h4>
              <h4>ابوالفضل بیهقی</h4>
              <h4>ژانر:تاریخی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/تاریخ بیهقی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب تاریخ بیهقی</h4>
              <h4>ابوالفضل بیهقی</h4>
              <h4>ژانر:تاریخی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/تاریخ بیهقی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب تاریخ بیهقی</h4>
              <h4>ابوالفضل بیهقی</h4>
              <h4>ژانر:تاریخی</h4>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="ganr2">
          <h2><span>کتاب های روان شناسی</span></h2>
          <h2>مشاهده همه</h2>
        </div>
        <div class="tarikhi">
          <div class="book">
            <div>
              <img src="./img/بیشعوری.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب بیشعوری</h4>
              <h4>خاویر کرمنت</h4>
              <h4>ژانر:روانشناسی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/بیشعوری.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب بیشعوری</h4>
              <h4>خاویر کرمنت</h4>
              <h4>ژانر:روانشناسی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/بیشعوری.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب بیشعوری</h4>
              <h4>خاویر کرمنت</h4>
              <h4>ژانر:روانشناسی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/بیشعوری.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب بیشعوری</h4>
              <h4>خاویر کرمنت</h4>
              <h4>ژانر:روانشناسی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/بیشعوری.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب بیشعوری</h4>
              <h4>خاویر کرمنت</h4>
              <h4>ژانر:روانشناسی</h4>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="ganr2">
          <h2><span>کتاب های علمی</span></h2>
          <h2>مشاهده همه</h2>
        </div>
        <div class="tarikhi">
          <div class="book">
            <div>
              <img src="./img/book.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب سم زدایی دوپامین</h4>
              <h4>تیبو موریس</h4>
              <h4>ژانر:علمی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/book.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب سم زدایی دوپامین</h4>
              <h4>تیبو موریس</h4>
              <h4>ژانر:علمی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/book.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب سم زدایی دوپامین</h4>
              <h4>تیبو موریس</h4>
              <h4>ژانر:علمی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/book.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب سم زدایی دوپامین</h4>
              <h4>تیبو موریس</h4>
              <h4>ژانر:علمی</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img src="./img/book.jpg" width="120" height="120" alt="" />
            </div>
            <div class="info">
              <h4>کتاب سم زدایی دوپامین</h4>
              <h4>تیبو موریس</h4>
              <h4>ژانر:علمی</h4>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="ganr2">
          <h2><span>کتاب های فلسفه و منطق</span></h2>
          <h2>مشاهده همه</h2>
        </div>
        <div class="tarikhi">
          <div class="book">
            <div>
              <img
                src="./img/فلسفه ای برای زندگی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب فلسفه ای برای زندگی</h4>
              <h4>ویلیام اروین</h4>
              <h4>ژانر:فلسفه</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/فلسفه ای برای زندگی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب فلسفه ای برای زندگی</h4>
              <h4>ویلیام اروین</h4>
              <h4>ژانر:فلسفه</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/فلسفه ای برای زندگی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب فلسفه ای برای زندگی</h4>
              <h4>ویلیام اروین</h4>
              <h4>ژانر:فلسفه</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/فلسفه ای برای زندگی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب فلسفه ای برای زندگی</h4>
              <h4>ویلیام اروین</h4>
              <h4>ژانر:فلسفه</h4>
            </div>
          </div>
          <div class="book">
            <div>
              <img
                src="./img/فلسفه ای برای زندگی.jpg"
                width="120"
                height="120"
                alt=""
              />
            </div>
            <div class="info">
              <h4>کتاب فلسفه ای برای زندگی</h4>
              <h4>ویلیام اروین</h4>
              <h4>ژانر:فلسفه</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div dir="rtl" class="footer">
      <div class="link">
        <div>
          <h4 class="footerabout">
            کتابدار برای اداره امور انواع کتابخانه های سازمانی، دولتی،شرکتی،
            دانشگاهی و مدارس، کانون ها و سایر کتابخانه ها ارائه شده است این سایت
            علیرغم داشتن قابلیت ها و امکانات لازم و با وجود سازگاری با اکثر
            استاندارد های کتابداری،دارای محیط کاربری بسیار ساده ای جهت افراد با
            توانایی های مختلف در استفاده از کامپیوتر طراحی و تولید شده است.
          </h4>
        </div>
        <div class="khat"></div>
        <div>
          <ul>
            <h2>دسترسی سریع</h2>
            <li><a href="https://taaghche.com/">سایت طاقچه</a></li>
            <li><a href="https://www.ketabrah.ir/">سایت کتابرا</a></li>
            <li>
              <a href="https://www.nlai.ir/"
                >سازمان اسناد و کتابخانه ملی ایران</a
              >
            </li>
            <li><a href="https://ketabaa.ir/">سایت کتابا</a></li>
            <li><a href="https://www.iranketab.ir/">سایت ایران کتاب</a></li>
          </ul>
        </div>
        <div class="khat"></div>
        <div>
          <div class="ketabdar">کتابدار</div>
          <div id="tell">
            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg
              width="35px"
              height="35px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.5562 12.9062L16.1007 13.359C16.1007 13.359 15.0181 14.4355 12.0631 11.4972C9.10812 8.55901 10.1907 7.48257 10.1907 7.48257L10.4775 7.19738C11.1841 6.49484 11.2507 5.36691 10.6342 4.54348L9.37326 2.85908C8.61028 1.83992 7.13596 1.70529 6.26145 2.57483L4.69185 4.13552C4.25823 4.56668 3.96765 5.12559 4.00289 5.74561C4.09304 7.33182 4.81071 10.7447 8.81536 14.7266C13.0621 18.9492 17.0468 19.117 18.6763 18.9651C19.1917 18.9171 19.6399 18.6546 20.0011 18.2954L21.4217 16.883C22.3806 15.9295 22.1102 14.2949 20.8833 13.628L18.9728 12.5894C18.1672 12.1515 17.1858 12.2801 16.5562 12.9062Z"
                fill="#1C274C"
              />
            </svg>
            <div>09121515150</div>
          </div>
        </div>
      </div>
    </div>

    <script src="../../../static/main_js/script.js"></script>
  </body>
</html>
