@font-face {
    font-family: "Dana";
    src: url(../font/Dana/woff2/DanaFaNum-Medium.woff2);
}
@font-face {
    font-family: "moraba";
    src: url(../font/Morabba/woff2/Morabba-Light.woff2);
}
*{
    font-family: "moraba", serif;
    font-weight: bold;
    font-size: 1.1rem;
}